// Colours
$c_dark_accent: #0297a3;
$c_light_accent: #2aada8;
$c_vlight_accent: #2ccdc8;

// Body
$body_bg: #ccc;

// Header
$header_bg: #fff;
$header_height: 89px;

// Feature
//  Term used for the graphical element in the
//	centre of the screen which attracts the user's attention
$feature_height: 441px;
$feature_button_height: 70px;

// Devices
$large_desktop: 1222px;
$desktop: 1024px;
$large_tablet: 850px;
$tablet: 768px;
$mobile: 580px;

// Transitions
$bezier: cubic-bezier(.3,.2,.3,1.3);