// Settings
$main-font: 'Open Sans',sans-serif;

*:not(i) {
    font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 0 15px;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}