section.affiliatelogos{
	width: 100%;
	height: 162px;
	background: $c_dark_accent;

	.affiliatelogos_cont{
		line-height: calc(162px - 10px);
	    margin-left: auto; 
	    margin-right: auto;
		text-align: justify;
		-ms-text-justify: distribute-all-lines;
		text-justify: distribute-all-lines;

		.affiliatelogos_logo{
			vertical-align: top;
			display: inline-block;
			*display: inline;
			zoom: 1;
		}

		.affiliatelogos_stretch{
			width: 100%;
			display: inline-block;
			font-size: 0;
			line-height: 0
		}

	}

}