section.contact{
	width: 100%;
		
	background: url(../../img/circle-shape-1.png) -300px 32px no-repeat, url(../../img/circle-shape-2.png) calc(100% + 540px) 32px/750px 750px no-repeat, white;
	
	.grid-container{

		.contact_left, .contact_right{
			padding-top: 26px;
			padding-bottom: 27px;
			float: left;

			p{
				font-size: 12pt;
				line-height: 17pt;
				padding-bottom: 10px;

				a{
					color: $c_dark_accent !important;
				}

				span.bold{
					font-weight: bold;
				}
			}

		}

		.contact_left{
			padding-top: 50px;
			
			.contact_form{
				padding: 20px;
				padding-bottom: 16px;
				width: 100%;
				height: auto;
				background: $c_vlight_accent;
    			display: inline-block;

				h1{
					padding: 0;
					margin: 0;
					margin-bottom: 5px;
					font-weight: 700;
					font-size: 21pt;
					text-transform: uppercase;
					color: white;
				}

				form {

					input{
						width: 100%;
						margin: 8px 0;
						padding: 7px 10px;
						background: #d7f5f5;
						border: none;
						font-size: 13pt;
						color: #111;
					}

					textarea{
						width: 65%;
						margin: 8px 0;
						padding: 7px 10px;
						float: left;
						background: #d7f5f5;
						border: none;
						font-size: 13pt;
						color: #111;
					}

					button{
						width: 35%;
						margin: 8px 0;
						padding: 7px 10px;
						height: 109px;
						float: left;
						background: transparent;
						border: none;
						font-size: 18pt;
						color: #fff;
						font-weight: bold;

						i{
							font-size: 14pt;
						}

					}

				}

			}

		}

		.contact_right{
			padding-top: 108px;
			padding-left: 55px;

		}

		.contact_bottom{
			width: 100%;
			text-align: center;
			padding-top: 16px;
			padding-bottom: 19px;

			h1{
				font-size: 40pt;
				font-weight: 100;
			}

		}

	}

}