section.feature{
	height: $feature_height + $header_height;
	background-image: url(../../img/banner.jpg);
	background-repeat: no-repeat;
    background-size: cover;

	.feature_padding{
		width: 100%;
		height: $header_height;
	}

	.feature_contents{
		height: $feature_height - $feature_button_height;
		color: white;
		font-size: 26pt;
		font-weight: 600;
		text-align: center;
		line-height: $feature_height - 30px;
	}

	.feature_servicelist{
		position: relative;
    	height: $feature_button_height;
		
		.feature_servicelist_button{
			color: white;
			background: red;
			float: right;
		    margin: 0 10px;
		    font-size: 17pt;
		    text-transform: uppercase;
		    font-weight: 800;
		    padding: 22px 17px;
		    cursor: pointer;

			&:first-child{
				background: $c_dark_accent;
			}
			&:last-child{
				background: $c_light_accent;
			}

		}

	}

}

section.divider_blue{
	width: 100%;
	height: 13px;
	background: $c_dark_accent;
}
section.divider_black{
	width: 100%;
	height: 13px;
	background: #000;
}