// Variables
$gutter: 10px;
$guttermd: 20px;
$gutterlg: 40px;
$gridwidth: 1220px;

.grid-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
    width: 100%;
    max-width: $gridwidth;
}

@media (max-width: $gridwidth) {
    .grid-container {
        max-width: $desktop;
    }
}

@media (max-width: $desktop) {
    .grid-container {
        max-width: $tablet;
    }
}

.grid-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
}

.row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    position: relative;
    &.row-pad-lg {
        margin-left: -$gutterlg;
        margin-right: -$gutterlg;
    }
    &.collapse {
        margin-left: 0;
        margin-right: 0;
    }
}
.row-spacing {
    margin-top: 35px;
    margin-bottom: 35px;
}

// Basic Grid
//
// Each row of columns has to have a parent of class .row. This removes the left and right margin from the first and last columns to ensure the columns are correctly aligned to the left or right.
//
// Each type of grid has sm, md, lg and xl breakpoint variants. For example, .col-md-12, .col-xl-6, which will break to their respective column numbers when the specified breakpoint is reached.

[class^="col-"] {
    display: block;
    position: relative;
    min-height: 1px;
    padding-left: $gutter;
    padding-right: $gutter;
    float: left;
    &.pad-md {
        padding-left: $guttermd;
        padding-right: $guttermd;
    }
    &.pad-lg {
        padding-left: $gutterlg;
        padding-right: $gutterlg;
    }
    &.collapse {
        padding-left: 0;
        padding-right: 0;
    }
    &.collapse-right {
        padding-right: 0;

        &:last-child {
            padding-right: $gutter;
        }
    }
    &.collapse-left {
        padding-left: 0;

        &:first-child {
            padding-left: $gutter;
        }
    }
}

.collapse>[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.col-clear {
    clear: both;
}

.col-12 {
    width: 100%;
    padding-left: $gutter !important;
    padding-right: $gutter !important;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.col-5ths-1 {
    width: 20%;
}

.col-5ths-2 {
    width: 40%;
}

.col-5ths-3 {
    width: 60%;
}

.col-5ths-4 {
    width: 80%;
}

.col-pull-12 {
    right: 100%;
}

.col-pull-11 {
    right: 91.66666667%;
}

.col-pull-10 {
    right: 83.33333333%;
}

.col-pull-9 {
    right: 75%;
}

.col-pull-8 {
    right: 66.66666667%;
}

.col-pull-7 {
    right: 58.33333333%;
}

.col-pull-6 {
    right: 50%;
}

.col-pull-5 {
    right: 41.66666667%;
}

.col-pull-4 {
    right: 33.33333333%;
}

.col-pull-3 {
    right: 25%;
}

.col-pull-2 {
    right: 16.66666667%;
}

.col-pull-1 {
    right: 8.33333333%;
}

.col-pull-0 {
    right: auto;
}

.col-push-12 {
    left: 100%;
}

.col-push-11 {
    left: 91.66666667%;
}

.col-push-10 {
    left: 83.33333333%;
}

.col-push-9 {
    left: 75%;
}

.col-push-8 {
    left: 66.66666667%;
}

.col-push-7 {
    left: 58.33333333%;
}

.col-push-6 {
    left: 50%;
}

.col-push-5 {
    left: 41.66666667%;
}

.col-push-4 {
    left: 33.33333333%;
}

.col-push-3 {
    left: 25%;
}

.col-push-2 {
    left: 16.66666667%;
}

.col-push-1 {
    left: 8.33333333%;
}

.col-push-0 {
    left: auto;
}

.col-offset-12 {
    margin-left: 100%;
}

.col-offset-11 {
    margin-left: 91.66666667%;
}

.col-offset-10 {
    margin-left: 83.33333333%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-8 {
    margin-left: 66.66666667%;
}

.col-offset-7 {
    margin-left: 58.33333333%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-5 {
    margin-left: 41.66666667%;
}

.col-offset-4 {
    margin-left: 33.33333333%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-2 {
    margin-left: 16.66666667%;
}

.col-offset-1 {
    margin-left: 8.33333333%;
}

.col-offset-0 {
    margin-left: 0%;
}

.col-vert-pad,
.vert-pad {
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-no-vert-pad,
.vert-no-pad {
    padding-top: 0;
    padding-bottom: 0;
}

.col-horiz-marg{
    margin-left: 10px;
    margin-right: 10px;
}
.col-no-horiz-marg{
    margin-left: 0;
    margin-right: 0;
}

.col-hide{
    display: none;
}
.col-show{
    display: block;
}


@media (max-width: $gridwidth + 30px) {
    .col-xl-vert-pad {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .col-xl-no-vert-pad {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col-xl-horiz-marg{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-xl-no-horiz-marg{
        margin-left: 0;
        margin-right: 0;
    }
    [class^="col-"].collapse-xl {
        padding-left: 0;
        padding-right: 0;
    }
    .col-xl-clear {
        clear: both;
    }
    .col-xl-noclear {
        clear: none;
    }
    .col-xl-5ths-1 {
        width: 20%;
    }
    .col-xl-5ths-2 {
        width: 40%;
    }
    .col-xl-5ths-3 {
        width: 60%;
    }
    .col-xl-5ths-4 {
        width: 80%;
    }
    .col-xl-12 {
        width: 100%;
        padding-left: $gutter !important;
        padding-right: $gutter !important;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-1 {
        width: 8.33333333%;
    }
    .col-xl-pull-12 {
        right: 100%;
    }
    .col-xl-pull-11 {
        right: 91.66666667%;
    }
    .col-xl-pull-10 {
        right: 83.33333333%;
    }
    .col-xl-pull-9 {
        right: 75%;
    }
    .col-xl-pull-8 {
        right: 66.66666667%;
    }
    .col-xl-pull-7 {
        right: 58.33333333%;
    }
    .col-xl-pull-6 {
        right: 50%;
    }
    .col-xl-pull-5 {
        right: 41.66666667%;
    }
    .col-xl-pull-4 {
        right: 33.33333333%;
    }
    .col-xl-pull-3 {
        right: 25%;
    }
    .col-xl-pull-2 {
        right: 16.66666667%;
    }
    .col-xl-pull-1 {
        right: 8.33333333%;
    }
    .col-xl-pull-0 {
        right: auto;
    }
    .col-xl-push-12 {
        left: 100%;
    }
    .col-xl-push-11 {
        left: 91.66666667%;
    }
    .col-xl-push-10 {
        left: 83.33333333%;
    }
    .col-xl-push-9 {
        left: 75%;
    }
    .col-xl-push-8 {
        left: 66.66666667%;
    }
    .col-xl-push-7 {
        left: 58.33333333%;
    }
    .col-xl-push-6 {
        left: 50%;
    }
    .col-xl-push-5 {
        left: 41.66666667%;
    }
    .col-xl-push-4 {
        left: 33.33333333%;
    }
    .col-xl-push-3 {
        left: 25%;
    }
    .col-xl-push-2 {
        left: 16.66666667%;
    }
    .col-xl-push-1 {
        left: 8.33333333%;
    }
    .col-xl-push-0 {
        left: auto;
    }
    .col-xl-offset-12 {
        margin-left: 100%;
    }
    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xl-offset-0 {
        margin-left: 0%;
    }
    .xl-hide{
        display: none;
    }
    .xl-show{
        display: block;
    }
}

@media (max-width: $desktop) {
    .col-lg-vert-pad {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .col-lg-no-vert-pad {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col-lg-horiz-marg{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-lg-no-horiz-marg{
        margin-left: 0;
        margin-right: 0;
    }
    [class^="col-"].collapse-lg {
        padding-left: 0;
        padding-right: 0;
    }
    .col-lg-clear {
        clear: both;
    }
    .col-lg-noclear {
        clear: none;
    }
    .col-lg-5ths-1 {
        width: 20%;
    }
    .col-lg-5ths-2 {
        width: 40%;
    }
    .col-lg-5ths-3 {
        width: 60%;
    }
    .col-lg-5ths-4 {
        width: 80%;
    }
    .col-lg-12 {
        width: 100%;
        padding-left: $gutter !important;
        padding-right: $gutter !important;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
    .col-lg-hide {
        display: none;
    }
    .col-lg-show {
        display: block !important;
    }
    .lg-center{
        text-align: center !important;
    }
    .lg-hide{
        display: none;
    }
    .lg-show{
        display: block;
    }
}

@media (max-width: $tablet) {
    .col-md-vert-pad {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .col-md-no-vert-pad {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col-md-horiz-marg{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-md-no-horiz-marg{
        margin-left: 0;
        margin-right: 0;
    }
    [class^="col-"].collapse-md {
        padding-left: 0;
        padding-right: 0;
    }
    .col-md-clear {
        clear: both;
    }
    .col-md-noclear {
        clear: none;
    }
    .col-md-5ths-1 {
        width: 20%;
    }
    .col-md-5ths-2 {
        width: 40%;
    }
    .col-md-5ths-3 {
        width: 60%;
    }
    .col-md-5ths-4 {
        width: 80%;
    }
    .col-md-12 {
        width: 100%;
        padding-left: $gutter !important;
        padding-right: $gutter !important;
    }
    .row-pad-lg .col-md-12 {
        padding-left: $gutterlg !important;
        padding-right: $gutterlg !important;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
    .col-md-hide {
        display: none;
    }
    .md-center{
        text-align: center !important;
    }
    .md-hide{
        display: none;
    }
    .md-show{
        display: block;
    }
}

@media (max-width: $mobile) {
    .col-sm-vert-pad {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .col-sm-no-vert-pad {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col-sm-horiz-marg{
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-sm-no-horiz-marg{
        margin-left: 0;
        margin-right: 0;
    }
    [class^="col-"].collapse-sm {
        padding-left: 0;
        padding-right: 0;
    }
    .col-sm-clear {
        clear: both;
    }
    .col-sm-noclear {
        clear: none;
    }
    .col-sm-5ths-1 {
        width: 20%;
    }
    .col-sm-5ths-2 {
        width: 40%;
    }
    .col-sm-5ths-3 {
        width: 60%;
    }
    .col-sm-5ths-4 {
        width: 80%;
    }
    .col-sm-12 {
        width: 100%;
        padding-left: $gutter !important;
        padding-right: $gutter !important;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
    .col-sm-hide {
        display: none;
    }
    .sm-center{
        text-align: center;
    }
    .sm-hide{
        display: none;
    }
    .sm-show{
        display: block !important;
    }
}

.clearfix:before,
.clearfix:after,
.grid-container:before,
.grid-container:after,
.grid-container-fluid:before,
.grid-container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.grid-container:after,
.grid-container-fluid:after,
.row:after {
    clear: both;
}