header {    
    width: 100%;
    height: $header_height;
    top: 0;
    position: absolute;
	
	.grid-container{
		height: 100%;
    background: $header_bg;

		.header_left{
			width: auto;
			height: 100%;

			h1{
				height: 100%;

				img{
					height: 100%;
					padding: 13px 0;
					line-height: 100%;
				}

			}

		}

		.header_right{
			width: auto;
			height: 100%;
			float: right;

			ul.header_menulist{
				height: 100%;
				list-style-type: none;
				float: right;

				li{
					height: 40px;
					float: left;
					line-height: 40px;
				    margin-top: calc((#{$header_height} - 40px) / 2);

					&.mobile{
						display: none;
					}

					a{
						padding: 0 15px;
						text-transform: uppercase;
						text-decoration: none !important;
						color: #444 !important;
						font-weight: 600;

						i{
							color: $c_dark_accent !important;
						}

					}

				}

			}

		}

	}

}

// Remove Default H1 from use with logo image
header h1{
	margin: 0;
	padding: 0;
}