section.introduction{
	width: 100%;
	background: white;		
	
	.grid-container{

		.intro_left, .intro_right{
			padding-top: 26px;
			padding-bottom: 27px;
			float: left;
		}

		.intro_left{

			h1{
				padding-bottom: 6px;
				font-size: 28pt;
				text-transform: uppercase;
				font-weight: 600;

				span.light{
					font-weight: 100;
				}
			}

			p{
				font-size: 12pt;
				line-height: 17pt;
				padding-bottom: 10px;

				a{
					color: $c_dark_accent !important;
				}

				span.bold{
					font-weight: bold;
				}
			}

			ul.intro_textmenu{
				list-style-type: none;
				
				li{
					font-size: 11pt;
					float: left;
					color: $c_dark_accent !important; 

					a{
						font-size: 11pt;
						color: $c_dark_accent !important; 
					}

				}

			}

		}

		.intro_right{
			height: 300px;
			padding: 0;

			.intro_twitter_container{
				width: 90%;
				height: 200px;
				position: relative;
				left: calc(50% - (90% / 2));
				top: calc(50% - (200px / 2));
				text-align: center;
				// background: green;

				.intro_twitter_icon{
					width: 40px;
					padding-left: 20px;
					float: left;
					font-size: 40pt;
					color: $c_vlight_accent !important;

					i{
					    position: relative;
						height: 100%;
						top: calc((200px / 2) - 40px);
					}

				}

				.intro_twitter_carousel{
					width: calc(100% - 40px);
					height: 200px;
  					display: table;	
					padding: 0 20px;
					float: left;

					.intro_twitter_carousel_inner{
						display: table-cell;
						margin: 0;
						vertical-align: middle;
						font-size: 15pt;
						font-weight: 600;
						color: #111;

						#tweets{
							list-style-type: none;
							padding: 0 50px;

							.tweet{
								display: none;
							}

							.tweet.active{
								display: block;
							}

						}

						.intro_twitter_carousel_chooser{
							width: 110px;
						    height: 25px;
						    position: relative;
						    left: calc(50% - (110px / 2));
							list-style-type: none;
							text-align: center;

							.dot{
								color: #aaa;
								padding: 0 7px;
								float: left;

								&.active{
									color: $c_vlight_accent;
								}

								&:hover{
									color: $c_dark_accent;
								}

								i{
									cursor: pointer;		
									font-size: 7pt;
								}
							}

						}

					}

				}

			}

		}

	}

}