@media (max-width: $large_desktop) {

	.header_left{
		display: none;
	}

}

@media (max-width: $desktop) {

	header .grid-container{
		max-width: 100%;
	}

	.col-6{
		width: 100%;
	}

	section.contact .grid-container .contact_right{
		padding-top: 0 !important;
	}


}

@media (max-width: $large_tablet) {

	.header_left{
		display: block !important;
	}

	ul.header_menulist li:not(.mobile) {
		display: none
	}

	ul.header_menulist li.mobile {
		display: block !important;
	}

	section.whitepapers .grid-container .whitepapers_item{
		width: 100%;
		margin-bottom: 20px;
	}


}

@media (max-width: $tablet) {

	section.feature .feature_contents{
		line-height: normal !important;
		padding-top: 130px;
	}

	.feature_servicelist, .affiliatelogos, .divider_black{
		display: none;
	}


}