section.whitepapers{
	width: 100%;
	height: 200px;
	background: $c_light_accent;

	.grid-container{

		padding: 0 60px;
		margin-bottom: 110px;

		.whitepapers_item{
			width: calc(33.3333% - 14px);
			margin-right: 20px;
			background: white;
			position: relative;
			top: -2px;
			box-shadow: 0 4px 8px rgba(0,0,0,.1);
		
			&:last-child{
				margin-right: 0;
			}

			.whitepapers_item_image{
				height: 190px;
				background-size: cover;
			}

			.whitepapers_item_heading{
				padding-top: 19px;
				padding-bottom: 15px;
				padding-left: 14px;
				padding-right: 14px;
				line-height: 33px;
				font-size: 21pt;
				font-weight: 100;
				color: $c_light_accent;

			}

			.whitepapers_item_desc{
				padding-left: 14px;
				padding-right: 14px;
				padding-bottom: 40px;
				line-height: 17pt;
			}

		}

	}

}